body {
  background: #fff;
  color: #000;
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin: 0;
  padding: 90px 0 0;
}

.typing-container {
  font-size: 1.4rem;
  line-height: 1.5;
  white-space: normal;
  text-align: left;
  width: 80%;
  padding: 10px;
  margin-bottom: 0;
  position: relative;
}

#typing {
  height: 25vh;
}

#typing2 {
  margin-top: 40px;
  height: auto;
}

.chart-container {
  width: 80%;
  font-family: "Courier New", monospace;
  padding: 10px;
  font-size: 1.2rem;
}

.chart-row {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.president-label {
  width: 300px;
  text-align: left;
  margin-right: 20px;
}

.bar-container {
  background: #fff;
  flex-grow: 1;
  height: 24px;
  position: relative;
  margin-right: 20px;
}

.bar {
  background: #3b3b3b;
  height: 100%;
}

.count-label {
  width: 50px;
  text-align: left;
}